body{
    margin: 0px !important;
}
header{
    background-color: #777777;
   
    padding:20px;
}
.pharmacy{
    color:white;
    text-align: center;
}
.menuBar{
    background-color: #999999;

}
#news{
    display: none;
}
.menu{
margin:0%;
}
.menu li a{
color:white;
text-decoration: none;
cursor: pointer;
}
.menu li {
display: inline-block;
padding:10px;
}
.menu li:hover{
background-color: black;
}
.menu li:active{
    background-color: black;
}
#Dropdown_1,#Dropdown_2,#Dropdown_3{
position: absolute;
width: auto;
max-width: 150px;
display: none;
background-color: whitesmoke;
padding: 0%;
}
.menu li ul li a{
color:#1167b1 !important;
}
.menu li ul li:hover{
background-color: white !important;
}
.menu li:nth-child(2):hover #Dropdown_1,.menu li:nth-child(3):hover #Dropdown_2,.menu li:nth-last-child(1) #Dropdown_3{
display: block;
}
.container-div{
display: inline-block;
border:2px solid #1167b1 !important;
width:100%;
height:600px;
background: url(./Animation/ani1.jpg);
background-repeat: no-repeat;
background-size: cover;
animation: slide 20s infinite;
}

@keyframes slide {

25%{
    background: url(./Animation/ani2.png);
background-repeat: no-repeat;
background-size: cover;
}
50%{
    background: url(./Animation/ani3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
75%{
    background: url(./Animation/ani4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
100%{
    background: url(./Animation/ani5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

}

.flex-container{
display: flex;
flex-direction: row;
justify-content: space-between;
padding:10px;
}
.box{
background-color:grey;
width: 200px;
height: 250px;
padding:10px;
cursor:pointer;
}
.box:hover{
    background-color: rgb(250, 234, 230);
    border:1px solid rgb(250, 234, 230);
    width:220px;
    height:270px;
    
}
.co-di-images{
height:50%;
width:200px;
}
@media (max-width: 800px) {
.flex-container {
flex-direction: column;
align-items: center;
align-content: space-between;
}
}

footer{
    background-color:  #303234;
    padding: 15px;
}
footer p{
    color:white;
}
.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }